{% extends 'base.html.twig' %}
 {% block body %}
 <p>Language : {{ language }} </p>
<form method ="POST">
	<select class="btn btn-secondary dropdown-toggle" name="language">
		<option selected disabled>Choose your language</option>
		<option value="en_US">English</option>
		<option value="fr_FR">Français</option>
	</select>
	<button type="submit">Go !</button>
</form>
	

 	<h1 class="text-warning">{% trans into language %}Bonjour !{% endtrans %}</h1>
 	<ul>
 	<h3>{% trans into language %}Voici les catégories{% endtrans %} :</h3>
 	{% for category in categories %}
 		<a href="{{ path('blog_category', {name: category.name}) }}"><li>{{ category.name }}</li></a>
 	{% endfor %}

    </ul>
    <a href="{{ path('blog_new') }}" class="text-success"><h3>{% trans into language %}Ajouter un article{% endtrans %}</h3></a>
    <a href="{{ path('category_new') }}" class="text-success"><h3>Ajouter une categorie</h3></a>
    <a href="{{ path('tag_index') }}" class="text-success"><h3>Les tags c'est par là</h3></a>
 {% endblock %}