{% extends 'base.html.twig' %}
 {% block body %}
 	<h1>Bonjour !</h1>
 	<ul>
 	<h3>Voici les catégories :</h3>
 	{% for category in categories %}
 		<a href="{{ path('blog_category', {name: category.name}) }}"><li>{{ category.name }}</li></a>
 	{% endfor %}
    </ul>
    <a href="{{ path('blog_new') }}" class="text-success"><h3>Ajouter un article</h3></a>
    <a href="{{ path('category_new') }}" class="text-success"><h3>Ajouter une categorie</h3></a>
    <a href="{{ path('tag_index') }}" class="text-success"><h3>Les tags c'est par là</h3></a>
 {% endblock %}