{% extends 'base.html.twig' %}
 {% block body %}

 	<H2>Titre de l'article : {{ article.title }} </H2>

 	<p>{{ article.content}}</p>
 	 <p>L'auteur est {{ article.author.email }}</p>
 	<p>Tag:</p>
 <ul>
    {% for tag in article.tags %}
        <li>{{ tag.name }} </li>
    {% else %}
        <li>No tags for this article</li>
    {% endfor %}
</ul>
 	<a href="{{ path('blog_edit', {id: article.id}) }}"><h3>Editer l'article</h3></a>
 {% block delete %}
 	  {% include '/article/_delete_form.html.twig' %}
 {% endblock %}

 {% endblock %}
